extends layout
block content
  section.col-md-12
    div.row(style="padding-top:70px;")
      //- div(class=typeof name === "undefined" ? "col-md-12" : "col-md-8")
      div.col-md-8
        table.table.table-striped.table-hover.col-md-12
          thead
            tr
              th id
              th tytuł
              th.text-center roots id
              th.text-center number of childs
          tbody.links  
                //- tr
                  td(colspan=4)
                      | Childs: 
                      =JSON.stringify(childs)
                      //- #{childs}
                //- tr
                  td(colspan=4)
                      | Roots: 
                      =JSON.stringify(roots)
                      //- #{childs}
          - if(childs.length > 0) {
              each object in childs
                  tr
                    td 
                      a(href="/dashboard/"+object.id)
                        | #{object.id}
                    td 
                      a(href="/dashboard/"+object.id)
                        | #{object.name}
                    td.text-center 
                      each root in object.rootsID
                        a(href="/dashboard/"+root)
                          | #{root}, 
                    td.text-center #{object.childsID.length}
          - } else 
              tr 
                td(colspan=4)
                  div.well 
                    p.lead
                      | Ten obiekt nie ma dzieci
          tfooter
            tr
              td(colspan=4)
                form(action="/dashboard/"+id, method="POST")
                  div.input-group.btn-block
                    span.input-group-addon 
                      b Nowy child
                    input(type="text").form-control
                    span.input-group-btn
                      button.btn.btn-default(type="button")
                        span.glyphicon.glyphicon-plus
      div.col-md-4
        h1 #{name}
        p.lead
          | #{description}
        br
        h4 ROOT:
        ul.list-unstyled
          - if(roots.length > 0) 
              each root in roots
                li 
                  //- =JSON.stringify(root)
                  a(href="/dashboard/"+root.id)
                    span.label.label-default #{root.id}
                    |  #{root.name}
          - else 
              div.well 
                p
                  | To obiekt główny - nie posiada rootów
        br
        h4 CHILDS:
        ul.list-unstyled
          - if(childs.length > 0)
              each child in childs
                li 
                  a(href="/dashboard/"+child.id)  
                    span.label.label-default #{child.id}
                    |  #{child.name}
          -  else 
              div.well 
                p
                  | To najniższy obiekt - nie posiada childów
